    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('ville_liste', {}) }}">
                    <span data-feather="users"></span>
                    Ville <span class="sr-only"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('hotel_liste', {}) }}">
                    <span data-feather="users"></span>
                    Hotel <span class="sr-only"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('reservation_liste', {}) }}">
                    <span data-feather="users"></span>
                    Reservation <span class="sr-only"></span>
                </a>
            </li>
            {#<li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="shopping-cart"></span>
                    Products
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="users"></span>
                    Customers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="bar-chart-2"></span>
                    Reports
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                    Integrations
                </a>
            </li>
            #}
        </ul>
    </div>
